*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.opt
*.cmx
*.cmxs
*.cmxa
*.cmt
*.cmti
*.cmo
.omakedb
.omakedb.lock
*.omc
parser.automaton
parser.conflicts

.DS_Store
.*.sw*

lexer.ml
parser.ml
parser.mli
*.beam
bran
test/*.cache
test/*.log
test/run
test/test_output*
.rebar
ebin
